body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
  font-style: normal;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0 auto;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding: 18px 0;
}

.logo-accent-head {
  color: #2e2f42;
}

.header-list {
  display: none;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link-item:first-child .header-link {
  color: #404bbf;
}

.header-link-item:first-child .header-link::after {
  content: '';
  border-radius: 2px;
  background: #404bbf;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  position: absolute;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.address-content {
  margin-left: auto;
}

.address-list {
  display: none;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.header-menu-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ? Mob-menu */
.mob-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 72px 24px 40px 16px;
  background-color:
    #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu > .modal-button-close {
  background-color: transparent;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-item {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mob-menu-item:first-child .mob-menu-item-text {
  color: #404BBF;
}

.mob-menu-link-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mob-menu-address-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  color: #4D5AE5;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em
}

.mob-menu-address-item:last-child .mob-menu-link {
  color: #434455;
}

.mob-menu-social-list {
  display: flex;
  gap: 40px;
}

.solutions {
  max-width: 320px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/back/back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 288px;
  margin-bottom: 72px;
}

.main-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Features */
.features {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-item {}

.features-icon-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.features-icon {
  display: none;
}

.features-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

/* Our-team */
.our-team {
  margin: 0 auto;
  padding: 96px 0;
  background-color: #f4f4fd;
}

.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.our-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.employee {
  padding: 32px 0;
}

.our-team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: currentColor;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

/* Portfolio */
.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text,
.portfolio-item:focus .portfolio-overlay-text {
  transform: translateY(0);
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 98px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-content {
  margin-bottom: 72px;
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-accent-foot {
  color: #f4f4fd;
  display: inline-flex;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-text {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list .icon-link:hover,
.footer-icon-list .icon-link:focus {
  background-color: #31d0aa;
}

.footer-social {
  margin-bottom: 72px;
}

.subs-container {}

.subs-text {
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subs-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.subs-input {
  width: 288px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  outline: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-label .subs-input:focus {
  border: 1px solid #4D5AE5;
}

input::placeholder {
  font-family: inherit;
  color: #fff;
}

.subs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-button:hover,
.subs-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subs-icon {
  margin-left: 16px;
  fill: currentColor;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .icon-close,
.modal-button-close:focus .icon-close {
  fill: #fff;
}

.modal-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.modal-input-svg-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-input-svg,
.modal-input:focus + .modal-input-svg {
  fill: #4D5AE5;
}

.modal-item-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  color: rgba(46, 47, 66, 0.40);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.modal-label-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-label-span {
  color: #4D5AE5;
  line-height: 1.33;
  text-decoration-line: underline;
}

.check-span {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .modal-label-checkbox > .check-span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.modal-link {
  color: #4D5AE5;
  line-height: 1.33;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link:hover,
.modal-link:focus {
  color: #404BBF;
}

.modal-send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFF;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-button:hover,
.modal-send-button:focus {
  background-color: #404BBF;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/back/back-mobile-2x.jpg);
  }
}

/* @media screen and (min-width: 768px) */
@media screen and (min-width: 768px) {
  .header-navigation {
    gap: 120px;
  }

  .header-logo-link {
    padding: 26px 0;
  }

  .header-list {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    padding: 0;
  }

  .header-menu-button {
    display: none;
  }

  .container {
    max-width: 768px;
  }

  .solutions {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/back/back-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .solutions {
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/back/back-tablet-2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .features-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: left;
  }

  .our-team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .footer-container {
    padding-left: 108px;
    column-gap: 24px;
    justify-content: left;
  }

  .footer-logo-link {
    justify-content: left;
  }

  .footer-text {
    max-width: 264px;
  }

  .social-text {
    text-align: left;
  }

  .subs-text {
    text-align: left;
  }

  .subs-form {
    gap: 24px;
  }

  .subs-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding-right: 25px;
    padding-left: 23px;
  }
}

/* @media screen and (min-width: 1158px) */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .solutions {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/back/back-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .solutions {
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/back/back-desktop-2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }

  .features {
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-icon-container {
    display: flex;
  }

  .features-icon {
    display: block;
  }

  .features-title {
    font-size: 20px;
  }

  .features-text {
    font-weight: 400;
  }

  .our-team {
    max-width: 100%;
    padding: 120px 0;
  }

  .our-team-list {
    gap: 24px;
  }

  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 42px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .footer {
    padding: 102px 0;
  }

  .footer-content {
    margin-right: 120px;
  }

  .subs-container {
    margin-left: auto;
  }

  .modal {
    padding-left: 24px;
    padding-right: 24px;
  }
}